#container {
    display: flex;
    flex-wrap: wrap;
  }
  #container > div {
    background-color: green;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
  }
  button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: purple;
  }
  button:hover {
    background-color: yellow;
  }
  form{
      background-color: blue;
      border: 2px solid red;
  }